html {
    overflow-x: scroll;
    overflow-y: scroll;
}

#playArea {
    background: url(../images/menuBox2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-left:3%;
}

.PlayerTiles {
   padding-left:45%;
   padding-top: 3%;
}

#TableContainer {
    height:60%;
    position: fixed;
}