.body {
    background-image: url(../images/gameBox2.png);    
    background-repeat: no-repeat;    
    height: 600px;
    width: 1300px;
    margin: auto;
    position: fixed;
    top: 40px;
    left: 35px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#canv {
   width: 80%;
   height: 80%;
}