html {
    overflow-x: scroll;
    overflow-y: scroll;
}

#playArea {
    background: url(../images/menuBox2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-left:3%;
}

#FirstPlayerContainer {
   padding-left:5%;
   padding-top: 3%;
}

#SecondPlayerContainer {
    padding-right: 15%;
}

#TableContainer {
    height:60%;
    position: fixed;
    overflow-x: scroll;
    overflow-y: scroll;
}

.TilesTable{
    position: fixed; 
    top:30%; 
    left:25%
}